<header>
    <h1>About Me Page</h1>
</header>
<section>
    <h2>Introduction</h2>
    <p>Hello! I'm Christopher Valle and i'm currently working on SA19!</p>
</section>
<section>
    <h2>Background</h2>
    <p>I'm from Memphis and I'm currently studying at the University of Memphis.</p>
</section>
<section>
    <h2>Interests</h2>
    <ul>
        <li>Eating</li>
        <li>Sleeping</li>
    </ul>
</section>